@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Anton");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  background: #ffffff;
}

.navbar-brand img {
  max-width: 3.5rem;
}

section {
  width: 100%;
  padding: 35px 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  overflow: hidden;
}

.content {
  position: relative;
  padding: 0 60px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  /* font-weight: 500; */
  font-family: "Anton", sans-serif;
}

.content .textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.content .textBox p {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Alkalami", serif;
  transition: 0.5s ease-in-out;
}

.link-container button {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.modal-body {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  background: url("assets/starbs-bg.jpg");
  background-size: cover;
  background-position: 50%;
  display: grid;
  grid-template: 1fr/1fr;
  place-items: center;
  align-items: center;
}

.content .imgBox {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

.content .imgBox img {
  max-height: 400px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.modal-header .btn-close {
  justify-content: center;
  width: 20px;
  height: 20px;
  align-items: center;
  display: flex;
}

.thumb li img {
  max-width: 60px;
  min-height: 100%;
}

.sci {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
}

.sci li a img {
  max-width: 50px;
  transition: 0.5s ease-in-out;
}

.sci li a img:hover {
  transform: translateY(-15px);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right);
}

#navbarText {
  flex-grow: 0;
}

/* current section */

#second {
  position: relative;
  top: 4rem;
  padding: 0 25px;
  min-height: 100vh;
}

#current {
  width: 100%;
}

.widget-sizing {
  height: 30rem;
  width: 100%;
}

/* testimonials section */

#third {
  position: relative;
  top: 6rem;
  min-height: 100vh;
  background: linear-gradient(to left, #017143 50%, #ffffff 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials {
  width: 90%;
  max-width: 650px;
  border-radius: 25px;
  background: linear-gradient(130deg, #017143, #ffffff);
}

.testimonials img {
  height: 50%;
  max-height: 500px;
}

.testimonials p {
  color: darkslategray;
  font-size: large;
  position: absolute;
  bottom: 3rem;
  left: 0;
  text-align: center;
  right: 0;
  padding: 0 7rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;
}

.testimonials p strong {
  color: #017143;
}

.testimonial img {
  max-width: 80px;
  border-radius: 25px;
}

.testimonial span {
  font-weight: lighter;
}

#prev {
  justify-content: flex-start;
  align-items: center;
}

#next {
  justify-content: flex-end;
  align-items: center;
}

/* contact section */

#fourth {
  position: relative;
  top: 6rem;
  padding: 0 25px;
  min-height: 100vh;
}

/*  */

.map-container,
.contact-form {
  height: 75vh;
  width: 45vw;
  border-radius: 10px;
}

iframe {
  width: 100%;
  height: 100%;
}

.contact-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

form {
  width: 85%;
}

.contact-header {
  position: relative;
  bottom: 10%;
  font-size: 25px;
  transition: 0.5s ease-in-out;
  margin-top: 5%;
}

/* contact form styling */
input {
  text-align: center;
}

.inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 5%;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  background: #017143;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-size: 1em;
  transition: 0.5s ease-in-out;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.inputBox input:focus ~ span {
  color: #017143;
  transform: translateX(30px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #ffffff;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  letter-spacing: 0.2em;
}

.inputBox input:focus {
  border: 1px solid #000000;
}

.inputBoxMessage {
  height: 6rem;
}

.inputBoxMessageInput {
  height: 6rem;
  text-align: left;
}

/* The input buttons */

.inputBoxBtnContainer {
  text-align: center;
}

.inputBoxBtn {
  text-align: center;
  background-color: #1247b8;
  border: 0;
  width: 8rem;
  height: 2.25rem;
  padding: 1%;
  color: #ffffff;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  letter-spacing: 1.25px;
  transition: 0.5s ease-in-out;
}

/* box shadows */

#current,
.testimonials,
.map-container,
.contact-form {
  box-shadow: 10px 10px 20px black;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .circle {
    clip-path: circle(450px at right);
  }

  .content .textBox h2 {
    font-size: 2.5rem;
  }

  .content .imgBox {
    padding-right: 25px;
  }

  .content .imgBox img {
    max-height: 300px;
    position: relative;
    left: 40px;
  }

  .thumb {
    bottom: 0;
  }

  .thumb li {
    margin: 0 15px;
  }

  .thumb li img {
    max-width: 45px;
  }

  .testimonials p {
    bottom: 1rem;
  }
}

@media screen and (max-width: 810px) {
  section {
    padding: 35px;
  }

  .content .textBox h2 {
    font-size: 2rem;
    color: #000000;
  }

  .content .textBox p {
    font-size: 1rem;
    color: #000000;
  }

  .content .textBox h2 span {
    color: #000000;
  }

  .content .imgBox img {
    max-height: 15rem;
    position: relative;
    bottom: 3rem;
  }

  #third {
    padding: 15px;
  }

  .testimonials {
    width: 100%;
  }

  .testimonials p {
    font-size: 16px;
    bottom: 2.8rem;
    padding: 0 3rem;
  }

  .testimonial img {
    max-width: 60px;
  }
}

@media screen and (max-width: 500px) {
  .circle {
    clip-path: circle(13rem at center);
    top: 34rem;
  }

  .content {
    flex-direction: column;
    padding: 0 10px;
  }

  section {
    padding: 25px 20px 0;
    text-align: center;
  }

  .content .textBox h2 {
    letter-spacing: 3.25px;
    color: #000000;
    background: #f5efe6;
    border-radius: 25px;
    width: 100%;
    line-height: 2;
    padding: 5%;
  }

  .content .textBox p {
    position: absolute;
    top: 38rem;
    color: #ffffff;
    letter-spacing: 1.5px;
  }

  .content .textBox h2 span {
    color: #017143;
  }

  .content .textBox a {
    border-radius: 40px;
    font-weight: 800;
    margin-top: 10px;
    background: #017143;
    color: #ffffff;
  }

  .link-container {
    width: 100%;
  }

  .content .imgBox {
    justify-content: center;
    padding-right: 0;
    margin-top: 1.75rem;
    width: 100%;
  }

  .content .imgBox img {
    position: absolute;
    max-height: 8.5rem;
    top: 26rem;
    bottom: 0;
    left: unset;
  }

  .thumb {
    left: 45%;
    top: 54.5rem;
    flex-direction: row;
  }

  .thumb li {
    margin: 0.2rem 1rem;
  }

  .thumb li:hover {
    transform: translateY(-10px);
  }

  .thumb li img {
    max-width: 1.75rem;
  }

  .sci {
    display: none;
  }

  #second {
    top: 35rem;
    padding: 0;
  }

  #third {
    top: 35rem;
    padding: 0;
  }

  .testimonials {
    width: 90%;
    min-height: 85vh;
  }

  .testimonials img {
    height: 75vh;
  }

  .testimonials p {
    bottom: -3px;
    padding: 0 10px;
  }

  #next,
  #prev {
    display: none;
  }

  .testimonial img {
    max-width: 60px;
    max-height: 60px;
  }

  #fourth {
    flex-direction: column;
    top: 35rem;
  }

  .map-container,
  .contact-form {
    height: 75vh;
    width: 90vw;
    margin: 30px 0;
  }

  .inputBoxBtn {
    height: auto;
    width: 30vw;
  }

  .contact-header {
    margin-bottom: 0;
  }

}
